.header {
    background: #926FF6;

}

.navbar-brand {
    color: #FFFFFF !important;
    font-size: 18.05px;
    font-weight: 800;
}

.nav-link {
    color: #FFFFFF !important;
}

.agency {
    color: yellow;
    font-size: 12px;
    text-align: center;
}

.HERO {
    color: white !important;
    text-align: center;
}

.the {
    color: #fff !important;
    text-align: center;
    font-size: 12px;
}

.div {
    border: #FFFFFF 5px;
}

.b1 {
    color: yellow;
}
 
.b6{
    color: yellow;
}

.buttons button.active{
background-color: #F3849F;
border-radius: 20px;
padding: 3px  30px;
border: none;
color:white;
}
     
.buttons button{
   border: none; 
   color: #828282;
   background: transparent;
}

.img-grid img{
height: 350px;
}

.bacground{
    background-color: #F7EEFF;
}
